.logo {
    color: #dc3545;
}

.panel {
    margin-top: 10%;
}

.panel-login {
    max-width: 340px;
    padding: 1.5rem 1.5rem 0.5rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.panel-login a {
    display: block;
    margin: 5px 0;
}
